* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-bottom: 50px;
}

.pizzaContainer {
    width: 50%;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menuContainer {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px;
}

h1 {
    margin-bottom: 10px;
}

.boldTxt {
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}

.boldTxt2 {
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 24px;
}

.pizzaSizeContainer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sizePizzaBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sizePizzaItem {
    width: 150px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.chosenSizePizzaItem {
    color: #fff;
    background-color: #333;
}

.chosenFilterItem {
    color: rgb(254, 0, 33);
}

.doughContainer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dough {
    width: 49%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doughBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizzaBoardContainer {
    width: 49%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boardBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doughItem, .boardItem {
    width: 150px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.txtColor {
    color: #888;
}

.filterIngredientsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; 
}

.filterItem {
    max-width: 200px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 11px 31px;
    border-radius: 12px;
    min-width: 143px;
    margin-bottom: 9px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ingredientsContainer {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.saucesBox, .meatBox, .cheeseBox, .vegetablesBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saucesItemBox, .meatItemBox, .cheeseItemBox, .vegetablesItemBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.saucesItem, .meatItem, .cheeseItem, .vegetablesItem, .appsItem {
    width: 180px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 22px 13px 13px;
}

.amountIngredientBox {
    width: 80px;
    height: 30px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 3px 7px;
    border-radius: 12px;
    margin: 5px 5px 5px 0;
}

.arrowPlus, .arrowMinus {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.appsBox {
    width: 100%;
}

.priseContainer {
    width: 150px;
    height: 50px;
    background-color: #3b3b3b;
    position: fixed;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
}

.prise {
    margin-left: 10px;
    margin-right: 2px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payBtn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #fe0021;
    color: #fff;
    align-self: flex-end;
}

.payBtn:hover {
    background-color: #be171b;
}

.resetBtn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width: 1200px){
    .pizzaContainer {
        width: 40%;
    }

    .basePizza {
        width: 130%;
    }

    .menuContainer {
        width: 60%;
    }
}

@media screen and (max-width: 900px){
    .wrap {
        flex-direction: column;
        justify-content: space-between;
    }

    .pizzaContainer {
        width: 100%;
    }

    .basePizza {
        width: 90%;
    }

    .menuContainer {
        width: 100%;
        padding: 0 80px;
    }
}

@media screen and (max-width: 700px){
    .menuContainer {
        padding: 0 20px;
    }

    .pizzaContainer {
        height: 80vh;
    }
}

@media screen and (max-width: 550px){
    .menuContainer {
        padding: 0 20px;
    }

    .pizzaContainer {
        height: 60vh;
    }

    .sizePizzaBox {
        flex-wrap: wrap;
    }

    .sizePizzaItem {
        margin-bottom: 10px;
    }

    .pizzaSizeContainer {
        height: 120px;
        justify-content: flex-start;
    }

    .doughBox, .boardBox {
        flex-direction: column;
        height: 80px;
        align-items: flex-start;
    }

    .boardBox {
        align-items: flex-end;
    }

    .pizzaBoardContainer {
        height: 100px;
        align-items: flex-end;
    }

    .dough {
        height: 100px;
    }

    .doughContainer {
        height: 100px;
    }
}

@media screen and (max-width: 499px){
    .pizzaContainer {
        height: 40vh;
    }

    .priseContainer {
        margin-top: 20px;
        margin-left: 20px;
    }
}